extends layout/main.pug  
 
block content 

   form(action="/use", method="post") 
    label(for="name") 
    input(type="text", name="title")
    input(type="text", name="name")
    button(type="submit") Add User 
    

    